.container {

  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.h2{
margin: 2rem;
font-family: 'Lobster', cursive;
text-shadow: 5px 0 #232931;
font-size: 2rem;
color: #4ECCA3;
  }

body {
  background-color: #393E46;
}
/*
.h1{
  text-align: center;
    position: relative;
    margin-top: 5rem;
    font-weight: 900;
    font-size: 400%;
}
.p1{
    margin-left: 20em;
    position: inherit;
    font-size: 200%;
}
.p2{
  margin-left: auto;
font-size: 200%;
position: inherit;
}
*/
h1 {
  margin: 2rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img{
  margin: 2rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
